<template name="projects">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Projects</h2>
                <hr/>
            </div>
        </div>
        <div class="row">
            {{#each projects}}
                <div class="col-md-4">
                    {{> project}}
                </div>
            {{/each}}
        </div>

        <div class="row">
            <div class="col-md-4">
                <a href="portfolio/portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="portfolio/portfolio-item.html">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida
                    pellentesque urna varius vitae.</p>
            </div>
        </div>



    </div>
</template>



