<template name="profile">
    {{#Layout template="ProfileLayout"}}
        <div class="profile">
            <div class="container">
                <div class="row">
                    <div class="pull-right">
                        <button id="edit-profile-btn" type="button" class="btn btn-primary pull-right" >
                            Edit Profile &nbsp;<span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </div>
                    <div class="col-sm-12">
                        {{> userMain user}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div>
                            {{> projectList projects}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/Layout}}
</template>
