<template name="profile">
    {{#Layout template="ProfileLayout"}}
            <div class="container">
                <div class="row">
                    <div class="pull-right">
                        <button id="edit-profile-btn" type="button" class="btn btn-primary pull-right" >
                            Edit Profile &nbsp;<span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </div>
                    <div class="col-sm-12">
                        {{> userMain user}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div>
                            {{> projectList projects}}
                        </div>
                    </div>
                </div>
            </div>
    {{/Layout}}
</template>


<template name="addProject">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Project Title</label>
            <div class="col-sm-10">
                <input name="title" type="text" class="form-control" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Project Url</label>
            <div class="col-sm-10">
                <input name="url" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Project Description</label>
            <div class="col-sm-10">
                <textarea name="description" class="form-control" rows="3" ></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button name="submitProject" class="btn btn-default" id="submit-new-project">Submit New Project</button>
            </div>
        </div>
    </form>
</template>

<!--<template name="profileHeading">-->
<!--</template>-->
